*{margin:0;padding:0;box-sizing:border-box;}
body {
	background:url('images/softbackground.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	font-family:'Arimo', sans-serif;
	color:#333;
	font-size:18px;

}
header {
	background-color:rgb(25,17,60);
}
h1 {
	color: #FFD0D3;
	font-family: 'Fredoka One', cursive;
}
p {
	padding:4em 14em;
	margin: 4em 14em;
}
ul {
	margin-left:2em;
}
#slogan {
	text-align:center;
	font-family:georgia, serif;
}
.wrapper {
	margin:0 auto;
	width:1200px;
}
